<div class="container">


  <br/><br/>
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Search" aria-label="Recipient's username" aria-describedby="basic-addon2">
    <div class="input-group-append">
      <button type="button" class="btn btn-primary" (click)="search()">GO!!!</button>

    </div>
  </div>

  <br/>

  <div *ngIf="searchClicked" class="row">
    <div class="col-md-4 bottomPad" *ngFor="let i of incomingList" >
      <div class="card animated fadeIn">
        <img src="../../assets/test.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Anshu Verma</h5>
          <p class="card-text">An avid photographer with 6years of experience.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Available in 2 days</small>
        </div>

      </div>
  </div>


</div>
